<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="localSettings" type="System.Configuration.AppSettingsSection">
			<section name="localConfigs" type="System.Configuration.AppSettingsSection" />
		</sectionGroup>
		<sectionGroup name="batchRunnerSettings" type="System.Configuration.AppSettingsSection">
			<section name="batchConfigs" type="System.Configuration.AppSettingsSection" />
			<section name="serviceConfigs" type="System.Configuration.AppSettingsSection" />
			<section name="dnsConfigs" type="System.Configuration.AppSettingsSection" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="MoreFiles" value="D:/0MyFiles/VS Testcases/More"/>
		<!-- Only change this environment value to test different environments -->
		<!-- Live Prelive UAT Local -->
		<add key="TestEnv" value="Live"/>
	</appSettings>
	<localSettings>
		<localConfigs>	<!--(should be main microservice with main url)-->
			<!--<add key="AppBaseUrl" value="http://hub.visualspec.local.com:8685" />-->
			<!--<add key="AppBaseUrl" value="http://visualspec.local.com:80" />-->
			<add key="AppBaseUrl" value="https://www.google.com/" />
			<add key="PangolinAppId" value="0b92e250-d42e-4c65-8cd6-0a3f90971f8e" />
			<add key="EnableDBReset" value="false" />
			<add key="Download.Url" value="c:\download" />
			<add key="Headless" value="false" />
			<!--<add key="Headless" value="true" />-->
			<add key="EnableSnapshot" value="false" />
			<add key="AppPublishPath" value="C:\\Projects\\visualspec.website\\Website" />
			<!-- AppPublishPath should be publish path for running on batch runner --> 
			<add key="ConnectionStringKey" value="" />
			<add key="DataProviderType" value="" />
			<!-- *** only for pangolin bug on visualspec **** --> 
			<add key="DisposeAfterClean" value="true" />
		</localConfigs>
	</localSettings>
	<batchRunnerSettings>
		<batchConfigs>
			<add key="PangolinServer" value="http://v4.pangolin.geeksltd.co.uk" />
			<add key="PangolinPublisherPath" value="C:\Projects\Pangolin\Pangolin.Publisher" />
			<add key="WebConfigPath" value="c:\Projects\geeks.qa.training.olive\publish" />
		</batchConfigs>
		<serviceConfigs>
		</serviceConfigs>
		<dnsConfigs>
		</dnsConfigs>
	</batchRunnerSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.2.0" newVersion="1.11.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
